
header{
    display: flex;
    align-items: center;
}

#har{
    display: flex;
}

footer{
    display: flex;
    flex-direction: column;
}

#topimg{
    display: flex;
}

footer>div{
    display: flex;
}

#iframeholder{
    display: flex;
    justify-content: center;
}
