#slideshow{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#subheader{
    display:grid;
    align-items: center;
    justify-content: center;
}

#subheader > p{
    grid-row: 1;
    grid-column: 1;
}

#subheader > img{
    grid-row: 1;
    grid-column: 1;
}

#mainContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}