* {
    margin: 0;
       font-size: var(--05hehi);
}


:root {
    --headerheigt: 5vw;
    --05hehi: 2.5vw;
    --025hehi: 1.25vw;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;

}

a:hover{
    opacity: 60%;
}

a:active{
    background-color: black;
    color: white;
    font-weight: bolder;
}

header {
    background-color: aliceblue;
    height: var(--headerheigt);
}

h1 {
    font-family: 'Oswald', sans-serif;
}

img.header {
    height: var(--headerheigt);
    margin: 0;
}

.headerL {
    float: left;
    margin-right: 4vw;
    margin-left: 4vw;
}

.headerR {
    float: right;
    padding:var(--025hehi);
}

p.header + a {
    margin-left: auto;
}

#butik{
    background-color: black;
    color: white;
    font-weight: bolder;
}

#index{
    background-color: black;
    color: white;
    font-weight: bolder;
}

#om_oss{
    background-color: black;
    color: white;
    font-weight: bolder;
}