* {
    margin: 0;
    font-size: var(--05hehi);
}

html{
    background: rgb(239, 239, 239);
    font-family: 'Open Sans', sans-serif;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url("assets/fonts/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4uaVQUwaEQbjB_mQ.woff") format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

:root {
    --headerheigt: 4vw;
    --05hehi: 2vw;
    --025hehi: 1vw;
    --frstlnkhght: 5.7142857143vw;
}

.gömd{
    opacity: 0 !important;
}

a {
    text-decoration: none;
    color: black;

}

a:hover{
    opacity: 60%;
}

a:active{
    background-color: black;
    color: white;
    font-weight: bolder;
}

p a{
    padding: 0 2vw;
    border-bottom-width:0.2vw;
    border-color: rgba(14, 3, 3, 0.98);
}

#har{
    height: var(--frstlnkhght);
    align-content: center;
    justify-content: center;
}

#har p{
    margin-top: auto;
    margin-bottom: auto;
}

header {
    background-color: aliceblue;
    height: var(--headerheigt);
    box-shadow: 0 1vw 1vw rgba(31,31,31,0.76);
    z-index: 3;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

img.header {
    height: var(--headerheigt);
    margin: 0;
}

.headerL {
    float: left;
    margin-right: 4vw;
    margin-left: 4vw;
}

.headerR {
    float: right;
    padding:var(--025hehi);
}

p.header + a {
    margin-left: auto;
}

#butik{
    background-color: black;
    color: white;
    font-weight: bolder;
}

#index{
    background-color: black;
    color: white;
    font-weight: bolder;
}

#om_oss{
    background-color: black;
    color: white;
    font-weight: bolder;
}

#topbckgrnd{
    background-color: white;
    background-image: url("assets/12_upper_deck_298_en_model-layout-image-2021-ryck-280-main-deck-layout-standard-210602_-8389774672031506731.png");
    width: 100vw;
    height: 16vw;
    background-size: cover;
    background-position:center;
    z-index: 0;
    opacity: 60%;
}

#bildspel{
    height: 40vw;
    display: flex;
}

.bildspel{
    transition: opacity 2s;
    position: absolute;


}

.bildspel img {
    height: 35vw;
    display: block;
    width: 50vw;
    overflow: hidden;
    margin-left: 25vw;
    margin-top: 2vw;
}

.tillbaka, .nasta{
    font-weight: bold;
    font-size: 2vw;
    padding: 2vw;
    user-select: none;
    border-radius: 0 1vw 1vw 0;
    position: absolute;
    align-self: center;
}

.nasta{
    right: 0;
    border-radius:1vw 0 0 1vw;
}

.indpunkter{
    text-align: center;
}

.punkt{
    height: 1.2vw;
    width: 1.2vw;
    margin: 0.5vw 0.25vw;
    border-radius: 50%;
    background-color: rgba(100, 100, 100, 0.85);
    transition: background-color 0.6s ease;
    display: inline-block;
}

.punkt:hover, .active{
    background-color: rgba(69, 69, 69, 0.9);
}

#underrubrik > img{
    height: 16vw;
    width: 100vw;
    overflow: hidden;
    object-fit: cover;
    opacity: 70%;
}

#underrubrik > p {
    font-weight: normal;
    font-size: 2.5vw;
    padding: 2vw 5vw;
    border-top: solid 0.5vw black;
    border-bottom: solid 0.5vw black;
    justify-self: center;
    z-index: 2;
}

#brödtext > p{
    line-height: 4vw;
    font-weight: lighter;
    grid-column: 2;
}

#brödtext > h3{
    font-size: 2.5vw;
    font-weight: normal;
    padding: 2vw 0;
}





footer {
    padding-top: 4vw;
    align-items: center;
    font-weight: lighter;
}